# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Isaque\Documents\workspace-spring-tool-suite-4-4.8.1.RELEASE\HackerRank\src\testeDeEnums\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
